@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 191, 244);
    font-family: "Lexend", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Распределяет пространство между элементами */
    height: 100vh; /* Занимает всю высоту экрана */
    text-align: center;
    position: absolute;
}

.logo{
    align-items: center;
    color: black;
    font-size: 4rem;
    width: 50%;
    margin: 10rem 0 0 30rem;
    position: fixed;
    transition: .5s ease;
    cursor: pointer;

}
.logo:hover{
    color: aliceblue;
    transform: scale(1.13);
    text-shadow: 0 0 25px;
}
.buttons {
    display: flex;
    align-items: center;
    margin: 20rem 0 0 45em;
    position: fixed;
    cursor: pointer;
}

button {
    padding: 5px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 30%;
    background-color: black;
    border: 2px solid black;
    height: 8rem;
    width: 10rem;
    font-size: 4rem;
    transition: .5s ease;
    color: aliceblue;
}
button:hover{
    color: black;
    transform: scale(1.13);
    border: 2px solid aliceblue;
    background-color: aliceblue;
    box-shadow: 0 0 25px aliceblue;
}
#btn1{
    margin: 0 5rem 0 0;
}
#btn2{
    margin: 0 0 0 5rem;
}
.window{
    background-color: antiquewhite;
    width: 40rem;
    height: 30rem;
    border-radius: 20px;
    box-shadow: 0 0 70px antiquewhite;
    border: 10px solid antiquewhite;
    justify-content: center;
    position: fixed;
    margin: 15rem 0 0 40rem;
    display: none;
}
.text{
    font-size: 3rem;
    margin: 0 0 5rem 8rem;
    width: 20rem;
    border-radius: 50%;
    color:palevioletred;
    transition: .5s ease;
    height: 3rem;
    cursor: pointer;
}
.text:hover{
    transform: scale(1.13);
    color: aliceblue;
    text-shadow: 0 0 25px aliceblue;
}
.text1{
    font-size:1.5rem;
    margin: 0 0 3rem 0;
    width: 10rem;
    color: palevioletred;
    text-shadow: 0 0 25px palevioletred;
}
.text2{
    list-style-type: none;
    align-items: right;
    background-color: aliceblue;
    width: 15rem;
    height: 5rem;
    width: fit-content;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}
#close{
    color: black;
    display: fixed;
    margin: 10px 0 0 36rem;
    font-size: 2rem;
    transition: .5s ease;
}
#close:hover{
    transform: scale(1.13);
    color: gray;
}
.rules{
    margin: 0;
    padding: 0;
    align-items: center;
    text-decoration: none;
    justify-content: right;
    margin: 0;
    padding: 0;
}